{% extends 'base.html' %}

{% block body_class %}home{% endblock %}

{% block main %}
<div class="main">
  <div class="container">
    <form class="code">
      <textarea id="codearea">
// React
origin is (150,150);
scale is (20,80);
rot is 0;
FOR T FROM 0 TO 2*PI STEP 0.01 DRAW (cos(T), sin(T));
rot is PI/3;
FOR T FROM 0 TO 2*PI STEP 0.01 DRAW (cos(T), sin(T));
rot is 2*PI/3;
FOR T FROM 0 TO 2*PI STEP 0.01 DRAW (cos(T), sin(T));
      </textarea>
    </form>
    <div class="canvas">
      <canvas id="canvas" width="978" height="330">
        
      </canvas>
    </div>
    <div class="function">
      <button class="draw">DRAW</button>
      <button class="clear">CLEAR</button>
    </div>
  </div>
</div>
{% endblock %}
