body
  //
gutter = 10px
.row
  margin-left -(gutter)
  margin-right -(gutter)
  [class*="col-"]
    padding 0 gutter
    float left
  .col-1
    width frac2perc(1/12)
  .col-2
    width frac2perc(2/12)
  .col-3
    width frac2perc(3/12)
  .col-4
    width frac2perc(4/12)
  .col-5
    width frac2perc(5/12)
  .col-6
    width frac2perc(6/12)
  .col-7
    width frac2perc(7/12)
  .col-8
    width frac2perc(8/12)
  .col-9
    width frac2perc(9/12)
  .col-10
    width frac2perc(10/12)
  .col-11
    width frac2perc(11/12)
  .col-12
    width 100%

.container
  max-width 1000px
  margin 0 auto

.center
  text-align center

.no-scroll
  overflow hidden!important
  width auto
  body
    overflow hidden!important