// ----------------------
// Custom global variables
// ----------------------

mq-desktop = 'screen and (min-width: 1024px)'
// mq-tablet = 'screen and (max-width: 899px) and (min-width: 500px)'
mq-mobile = 'screen and (max-width: 1023px)'

mq-below-desktop = 'screen and (max-width: 900px)'
mq-below-tablet = 'screen and (max-width: 640px)'

white = #ffffff
itemGray = #f0f0f0
itemWhite = #f9f9f9
gray = #3a3a3a
inputBorderGray = #d4d4d4
borderGray = #999999
darkGray = #323232
black = #000000
lightBlack = #555454
green = #30b162
lightGreen = #5df096
darkGreen = #2ba54f
yellowGreen = #73bb24
purple = #8862a9
darkPurple = #665ca9
blue = #2c80c4
red = #e13d2c
orange = #f79520

fa = 'FontAwesome', sanf-serif

// ----------------------
// custom function
// ----------------------

placeholder2()
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}

frac2perc(n)
  return (n*100)%