// ----------------------
// Custom global variables
// ----------------------

mq-desktop = 'screen and (min-width: 1025px)'
mq-tablet-landscape = 'screen and (max-width: 1024px) and (min-width: 869px)'
mq-tablet-portrait = 'screen and (max-width: 868px) and (min-width: 641px)'
mq-tablet = 'screen and (max-width: 1024px) and (min-width: 641px)'
mq-mobile = 'screen and (max-width: 640px)'

// Breakpoint: 1024px width and below
mq-below-desktop = 'screen and (max-width: 1024px)'
// Breakpoint: 868px width and below
mq-below-tablet-landscape = 'screen and (max-width: 868px)'
// Breakpoint: 640px width and below
mq-below-tablet = 'screen and (max-width: 640px)'

gutter = 20px

ms-font = 'Montserrat'
sans-font = 'Open Sans'

yellow = #FED530
blue = #003667
gray = #E5E9EA

// ----------------------
// custom function
// ----------------------

placeholder2()
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}
